<!DOCTYPE html>
<html lang="en" xmlns:v-on="http://www.w3.org/1999/xhtml" xmlns:v-bind="http://www.w3.org/1999/xhtml">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
    <style>
        .box{
            width: 200px;
            height: 200px;
            background-color: red;
        }

        .isGreen{
            width: 200px;
            height: 200px;
            background-color: green;
        }
        .active{
            background-color: yellow;
        }
    </style>
</head>
<body>
    <div id="app">
        <h3>{{ msg }}</h3>
        <button v-on:click="showHandler">{{ btnText }}</button>
        <!--<div class="box" v-on:click="count+=1">{{ count }}</div>-->
        <!--<div class="box" v-on:click="isShow=showHandler()" v-if="isShow"></div>-->
        <div class="box"  v-if="isShow"></div>

        <div class="isGreen" v-bind:class="{active:isYellow}"></div>
        <button v-on:click="changeColor()">change</button>

    </div>
    <script type="text/javascript" src="./node_modules/vue/dist/vue.js"></script>
    <script type="text/javascript">
        new Vue({
            el:'#app',
            template:'',
            data:function () {
                return{
                    msg:"hello",
                    count:0,
                    isShow:true,
                    btnText:'隐藏',
                    isYellow:false
                }
            },
            methods:{
                showHandler(){
                    // this.isShow = false
                    if (this.isShow){
                        this.isShow = false;
                        this.btnText = '显示';
                    }else {
                        this.isShow = true;
                        this.btnText = '隐藏';
                    }
                },
                changeColor(){
                    this.isYellow = !this.isYellow;
                }
            }
        })


    </script>



</body>
</html>